/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.navbar-container {
  max-width: 1300px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
}

/* Logo */

.logo span {
  font-size: 30px;
  font-weight: 800;

  background: linear-gradient(135deg, #2563eb, #4f46e5);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  cursor: pointer;
}

/* Navigation */

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #334155;
  font-weight: 600;

  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #2563eb;
}

/* Login Button */

.login-btn {
  background: linear-gradient(135deg, #2563eb, #4f46e5);

  color: white !important;

  padding: 12px 25px;
  border-radius: 10px;

  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);

  box-shadow: 0 5px 15px rgba(37, 99, 235, 0.3);
}

/* Mobile */

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 15px;

    padding: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
}

.search-box:focus {
  outline: none;
  border-color: #2563eb;
}
